<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />

    <title>Matilde</title>
  </head>
  <body>
    <header>
      <img src="./images/Logo.jpg" alt="matilde-logo" class="logo" />
      <ul class="nav-bar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/my-work">My Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </header>
    <main>
      <h1>About me</h1>
      <section class="about">
        <!--  <div class="pictures">
          <img class="about-pictures" src="/images/about1.jpeg" alt="about-1" />
          <img class="about-pictures" src="/images/about2.jpeg" alt="about-2" />
        </div> -->
        <div class="articles">
          <article class="article-about" id="portugues">
            <h4>Português</h4>
            <p>
              Sou apaixonada por música desde que me lembro e pela escrita de
              canções desde muito nova. Comecei por cantar, sendo a voz o meu
              instrumento principal, e mais tarde dediquei-me à composição. Em
              2020 conclui a minha licenciatura em Londres, do curso
              Professional Musicianship, especializado em vocals. Neste curso
              desenvolvi significativamente as minhas capacidades enquanto
              compositora e intérprete, através do estudo de vários estilos
              musicais, tais como o country ou rock, e de trabalhos
              cronometrados de escrita e arranjo de canções, conduzidos por um
              briefing. Neste curso aprendi também os básicos de captação e
              produção, que posteriormente desenvolvi no curso de Produção e
              Criação Musical, na ETIC, em Lisboa (2021). As minhas aptidões
              mais fortes são a criação e desenvolvimento de letras, top lining
              e produção/arranjo vocal. As minhas maiores influências passam por
              artistas como Jorge Palma, Carolina Deslandes, Taylor
              Swift, Billie Eilish, Sara Bareilles e Julia Michaels.
            </p>
          </article>
          <article class="article-about" id="ingles">
            <h4>English</h4>
            <p>
              I have been in love with music, songwriting and composition since
              I was really young. I started singing, the voice being my main
              instrument, and furthermore I have dedicated myself to writing and
              composing. In 2020 I have concluded my BA (HONS) in London, in
              Professional Musicianship, specialised in vocals. Throughout the
              duration of this degree I have undoubtedly improved my skills as a
              songwriter and singer, promoted by the study and practical working
              of various musical styles and specific briefings expected in
              limited time. Moreover, I have also gained the basic concepts of
              recording and producing, which was posteriorly developed in an
              ETIC Lisbon course, ‘Produção e Criação Musical (2021). My biggest
              strengths are lyric writing and development, top lining, melody
              writing and vocal production/arrangement. The main influences on
              my sound are artists such as Jorge Palma, Carolina Deslandes,
              Taylor Swift, Billie Eilish, Sara Bareilles and Julia Michaels.
            </p>
          </article>
        </div>
      </section>
    </main>
    <section class="footer">
      <footer>
        <ul>
          <li>
            <a href="https://www.facebook.com/itsmatildecosta" target="_blank"
              ><img
                id="facebook"
                src="./images/facebook-icon.png"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/itsmatildecosta/" target="_blank"
              ><img
                id="instagram"
                src="./images/instagram-icon.png"
                alt="instagram"
            /></a>
          </li>
        </ul>
        <h6>© Matilde Costa</h6>
      </footer>
    </section>
  </body>
</html>
