<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/photo-gallery.css" />

    <title>Matilde</title>
  </head>
  <body>
    <header>
      <img src="./images/Logo.jpg" alt="matilde-logo" class="logo" />
      <ul class="nav-bar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/my-work">My Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </header>
    <main>
      <section class="title">
        <h1>Photo Gallery</h1>
      </section>
      <section class="notas-musicais">
        <h2>Notas musicais</h2>
        <div class="art">
          <img
            class="cover"
            src="/images/photo-gallery/notas-musicais/cover-art.jpeg"
            alt="cover-art"
          />
          <img
            class="cover"
            src="/images/photo-gallery/notas-musicais/credit.png"
            alt="credit"
          />
        </div>
      </section>

      <section class="my-social-awkwardness">
        <h2>My Social Awkwardness EP</h2>
        <div class="art">
          <img
            class="cover"
            src="/images/photo-gallery/mysocialawkwardness/cover.jpg"
            alt="credit"
          />
          <img
            class="cover"
            src="/images/photo-gallery/mysocialawkwardness/kind-eyes.JPG"
            alt="cover-art"
          />
          <img
            class="cover"
            src="/images/photo-gallery/mysocialawkwardness/lately.png"
            alt="credit"
          />
          <img
            class="cover"
            src="/images/photo-gallery/mysocialawkwardness/credits.png"
            alt="credit"
          />
        </div>
      </section>

      <section class="promotion-pictures">
        <h2>Promotional Pictures</h2>
        <div class="polaroids">
          <img
            class="polaroid-pictures"
            src="/images/photo-gallery/notas-musicais/about1.jpeg"
            alt="about-1"
          />
          <img
            class="polaroid-pictures"
            src="/images/photo-gallery/notas-musicais/about2.jpeg"
            alt="about-2"
          />
        </div>
      </section>
    </main>
    <section class="footer">
      <footer>
        <ul>
          <li>
            <a href="https://www.facebook.com/itsmatildecosta" target="_blank"
              ><img
                id="facebook"
                src="./images/facebook-icon.png"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/itsmatildecosta/" target="_blank"
              ><img
                id="instagram"
                src="./images/instagram-icon.png"
                alt="instagram"
            /></a>
          </li>
        </ul>
        <h6>© Matilde Costa</h6>
      </footer>
    </section>
  </body>
</html>
