<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/work.css" />

    <title>Matilde</title>
  </head>
  <body>
    <header>
      <img src="./images/Logo.jpg" alt="matilde-logo" class="logo" />
      <ul class="nav-bar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/my-work">My Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </header>
    <main>
      <!-- SYNCS E BRIEFINGS -->
      <section class="work-area" id="syncs">
        <h1>Syncs & Briefings</h1>

        <div class="syncs-area">
          <div class="syncs-div" id="andamento">
            <h3>'Andamento'</h3>
            <div class="buttons-div">
              <button class="play-button">
                <img class="button" src="/images/play.webp" alt="play" />
              </button>
              <button class="pause-button">
                <img class="button" src="/images/pause.png" alt="play" />
              </button>
              <button class="stop-button">
                <img class="button" src="/images/stop.png" alt="play" />
              </button>
            </div>
            <p>
              Canção criada para incorporar um vídeo promocional  e publicidade
              de uma aplicação de Mobilidade Urbana, no âmbito do Projeto ETIC
              Ideia.
            </p>
          </div>

          <div class="syncs-div" id="amaliando">
            <h3>'Amaliando'</h3>
            <div class="buttons-div">
              <button class="play-button">
                <img class="button" src="/images/play.webp" alt="play" />
              </button>
              <button class="pause-button">
                <img class="button" src="/images/pause.png" alt="play" />
              </button>
              <button class="stop-button">
                <img class="button" src="/images/stop.png" alt="play" />
              </button>
            </div>
            <p>
              Canção criada para introduzir os episódios do Podcast 'Amaliando', um projeto fundado com o apoio da Fundação Amália Rodrigues .
              <br> O briefing pedia uma canção que representasse de alguma forma o fado e Amália, no entanto que fosse uma interpretação diferente do tradicional, que incorporasse outros elementos ou características provenientes de outros estilos.
            </p>
        </div>

        <div class="syncs-div" id="alma-portuguesa">
          <h3>'Alma Portuguesa'</h3>
          <div class="buttons-div">
            <button class="play-button">
              <img class="button" src="/images/play.webp" alt="play" />
            </button>
            <button class="pause-button">
              <img class="button" src="/images/pause.png" alt="play" />
            </button>
            <button class="stop-button">
              <img class="button" src="/images/stop.png" alt="play" />
            </button>
          </div>
          <p>
            Música co-criada com Francisco Parada.
            <br>
            Canção criada no âmbito do Projeto Alma Portuguesa, apresentado pela Myaris Consulting, 
            <br> com o objetivo de homenagear empresas portuguesas que demonstraram um comportamento empático, profissional e inspirador, durante os primeiros meses da pandemia, em 2020.
          </p>
      </div>
      </section>

      <!-- PORTUGUÊS -->
      <section class="work-area" id="pt-songwriting">
        <h1>Composições em Português</h1>

        <div class="composicoes-pt">
          <div class="notas-musicais">
            <h3>'Notas Musicais'</h3>
            <div class="audio">
              <div class="buttons-div">
                <button class="play-button">
                  <img class="button" src="/images/play.webp" alt="play" />
                </button>
                <button class="pause-button">
                  <img class="button" src="/images/pause.png" alt="play" />
                </button>
                <button class="stop-button">
                  <img class="button" src="/images/stop.png" alt="play" />
                </button>
              </div>
            </div>
            <p>Letra, música, captação, produção, mistura e masterização por Matilde Costa.</p>
          </div>
        </div>
      </section>

      <!-- INGLÊS -->
      <section class="work-area" id="eng-songwriting">
        <h1>Songwriting in English</h1>

        <div class="msa">
          <h3>EP 'My Social Awkwardness'</h3>
          <div class="sounds-msa">
            <div class="my-social-awkwardness">
              <h4>My Social Awkwardness (Intro)</h4>
              <div class="buttons-div">
                <button class="play-button">
                  <img class="button" src="/images/play.webp" alt="play" />
                </button>
                <button class="pause-button">
                  <img class="button" src="/images/pause.png" alt="play" />
                </button>
                <button class="stop-button">
                  <img class="button" src="/images/stop.png" alt="play" />
                </button>
              </div>
            </div>

            <div class="my-social-awkwardness">
              <h4>Kind Eyes</h4>
              <div class="buttons-div">
                <button class="play-button">
                  <img class="button" src="/images/play.webp" alt="play" />
                </button>
                <button class="pause-button">
                  <img class="button" src="/images/pause.png" alt="play" />
                </button>
                <button class="stop-button">
                  <img class="button" src="/images/stop.png" alt="play" />
                </button>
              </div>
            </div>

            <div class="my-social-awkwardness">
              <h4>Paralysed</h4>
              <div class="buttons-div">
                <button class="play-button">
                  <img class="button" src="/images/play.webp" alt="play" />
                </button>
                <button class="pause-button">
                  <img class="button" src="/images/pause.png" alt="play" />
                </button>
                <button class="stop-button">
                  <img class="button" src="/images/stop.png" alt="play" />
                </button>
              </div>
            </div>

            <div class="my-social-awkwardness">
              <h4>At least we tried</h4>
              <div class="buttons-div">
                <button class="play-button">
                  <img class="button" src="/images/play.webp" alt="play" />
                </button>
                <button class="pause-button">
                  <img class="button" src="/images/pause.png" alt="play" />
                </button>
                <button class="stop-button">
                  <img class="button" src="/images/stop.png" alt="play" />
                </button>
              </div>
            </div>

            <div class="my-social-awkwardness">
              <h4>Lately</h4>
              <div class="buttons-div">
                <button class="play-button">
                  <img class="button" src="/images/play.webp" alt="play" />
                </button>
                <button class="pause-button">
                  <img class="button" src="/images/pause.png" alt="play" />
                </button>
                <button class="stop-button">
                  <img class="button" src="/images/stop.png" alt="play" />
                </button>
              </div>
            </div>
          </div>
          <p>EP released January 2021, available on all major platforms.</p>
        </div>

        <div class="youtube-section">
          <h3>Videos of original performances</h3>
          <div class="youtube-videos">
            <div class="videos-divs" id="broke-my-trust-video">
              <h4>'Broke my trust'</h4>
              <iframe
                width="300"
                height="150"
                src="https://www.youtube.com/embed/SkuU2cKw5e0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <h5>
                Lyrics and Melody by Matilde Costa. Arrangement by Matilde Costa
                and the band. <br />
                Country songwriting exercise for BA (HONS) degree. 
              </h5>
            </div>

            <div class="videos-divs" id="i-see-video">
              <h4>'I see (right through you)'</h4>
              <iframe
                width="300"
                height="150"
                src="https://www.youtube.com/embed/KCU10S43klU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <h5>
                Lyrics by Matilde Costa. Music co-written with Francisco Parada.
                <br />Open-mic in London, 2019.
              </h5>
            </div>

            <div class="videos-divs" id="cherish-your-mind-video">
              <h4>'Cherish your mind'</h4>
              <iframe
                width="300"
                height="150"
                src="https://www.youtube.com/embed/Q_GeUxRmOkM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <h5>
                Lyrics and melody by Matilde Costa. <br />
                Arrangement by Matilde Costa and the band, during the
                lesson. <br />Songwriting class exercise during the BA (HONS)
                degree, 2019.
              </h5>
            </div>
          </div>
        </div>
      </section>
    </main>
    <section class="footer">
      <footer>
        <ul>
          <li>
            <a href="https://www.facebook.com/itsmatildecosta" target="_blank"
              ><img
                id="facebook"
                src="./images/facebook-icon.png"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/itsmatildecosta/" target="_blank"
              ><img
                id="instagram"
                src="./images/instagram-icon.png"
                alt="instagram"
            /></a>
          </li>
        </ul>
        <h6>© Matilde Costa</h6>
      </footer>
    </section>

    <script src="/scripts/buttons.js"></script>
  </body>
</html>
