body {
  color: rgb(203, 184, 187);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45rem;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.7;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
  font-style: italic;
}

.main:hover  {
  background-color: rgb(203, 184, 187);
}

h1:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(203, 184, 187);
  padding: 13rem 25rem;
}
